*{margin:0;padding:0;}
/*global css start*/
html{min-height:100%;position:relative;}
body{width:100%;min-width:320px;background-color:#fff;color:#000;font-size:100%;font-weight:400;font-family: 'Open Sans', sans-serif;letter-spacing:0.4px}
.clear{clear:both;}
a, button{transition:all 0.5s ease;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;outline:0;color:#4fa9ff;}
a:focus,:focus, button:focus{outline:none!important;text-decoration:none!important;}
a, img{border:none;outline:none;}
img{max-width:100%;height:auto;display:inline-block;vertical-align:middle;}
label{font-weight:400;}

h1, h2, h3, h4, h5, h6{font-family: 'Open Sans', sans-serif; font-weight:600;line-height:1.3;margin:0;padding:0 0 20px;position:relative; color:#000629;}
h1, h2{font-size:2.250em; color:#23334c; }

h3, h4{font-size:1.625em;  color:#23334c;}
p{ font-size:1.000em;}
h2.white-color{color:#fff;}
ul, ol{list-style:none;margin:0;}
ul li, ol li{list-style:none;}
p{display:block;line-height:23px;margin:0;padding:0 0 20px; font-weight:300 }
.form-control{border:1px solid #d0d0d0;border-radius:4px;box-shadow:none !important;color:#484242; font-family: 'Open Sans', sans-serif;font-size:13px;font-weight:400;height:44px; border:1px solid #e4e4e4;}

select, select.form-control{text-overflow:ellipsis;white-space:nowrap;padding-right:28px;-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none;width:100%;background:rgba(255, 255, 255, 1) url(../img/select-arrow.png) no-repeat scroll calc(100% - 10px);}
textarea.form-control{min-height:100px;resize: none;height:auto;}
.btn-custom{background-color:#4fdaeb;border:medium none;border-radius:0;box-shadow:none !important;color:#ffffff;font-family: 'Open Sans', sans-serif;font-size:1.250em;font-weight:600;height:44px;line-height:44px;margin:0;padding:1px 25px 5px;position:relative;text-transform:uppercase;overflow:hidden;position:relative;transition:all 0.5s ease; border-radius:3px;}
.btn {font-size:15px;font-family: 'Open Sans', sans-serif;font-weight: 600;padding: 10px 18px;border-radius: 0px;line-height: normal;
border-radius: 3px; text-transform:uppercase;}
.btn:hover{ background:#000; color:#fff;}
.blue-btn{color: #fff; background: #4fa9ff;}
.white-btn{color: #000; background: #fff;}
.white-outline-btn{ background:none; border:1px solid #fff;}
.line-btn{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:2px solid #ffffff;border-radius:50px;font-weight:400;line-height:42px;}
.pink-btn{background:#ff198d;color:#fff;}
.btn-custom:hover, .btn-custom:focus{background:#111;color:#fff;}
.dis-inline{display:inline-block;vertical-align:middle;position:relative;}
.dis-block{display:block;position:relative;}
.full-wdth{display:block;width:100%;position:relative;}
.mrg0{margin:0px !important;}
.pad0{padding:0px !important}
.bdr0{border:none !important;}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active){select, select.form-control{background:#fff !important;padding-right:7px !important;}
}
select, select.form-control{background:#fff\9 !important;}
.pad5{padding:5px}.pad10{padding:10px}.pad15{padding:15px}.pad20{padding:20px}.pad25{padding:25px}.pad30{padding:30px}.pad40{padding:40px}.pad50{padding:50px}.pad60{padding:60px}.pad70{padding:70px}.pad80{padding:80px}.pad90{padding:90px}.pad100{padding:100px}.pad-t5{padding-top:5px}.pad-b5{padding-bottom:5px}.pad-l5{padding-left:5px}.pad-r5{padding-right:5px}.pad-t10{padding-top:10px}.pad-b10{padding-bottom:10px}.pad-l10{padding-left:10px}.pad-r10{padding-right:10px}.pad-t15{padding-top:15px}.pad-b15{padding-bottom:15px}.pad-r15{padding-right:15px}.pad-l15{padding-left:15px}.pad-t20{padding-top:20px}.pad-b20{padding-bottom:20px}.pad-l20{padding-left:20px}.pad-r20{padding-right:20px}.pad-t25{padding-top:25px}.pad-b25{padding-bottom:25px}.pad-l25{padding-left:25px}.pad-r25{padding-right:25px}.pad-t30{padding-top:30px}.pad-b30{padding-bottom:30px}.pad-l30{padding-left:30px}.pad-r30{padding-right:30px}.pad-t40{padding-top:40px}.pad-b40{padding-bottom:40px}.pad-l40{padding-left:40px}.pad-r40{padding-right:40px}.pad-t50{padding-top:50px}.pad-b50{padding-bottom:50px}.pad-l50{padding-left:50px}.pad-r50{padding-right:50px}.pad-t60{padding-top:60px}.pad-b60{padding-bottom:60px}.pad-t70{padding-top:70px}.pad-b70{padding-bottom:70px}.pad-t80{padding-top:80px}.pad-b80{padding-bottom:80px}.pad-t90{padding-top:90px}.pad-b90{padding-bottom:90px}.pad-t100{padding-top:100px}.pad-b100{padding-bottom:100px}.pad-tb80{padding-top:80px;padding-bottom:80px;}.pad-tb70{padding-bottom:70px;padding-top:70px;}.pad-tb60{padding-bottom:60px;padding-top:60px;}.pad-tb30{padding-bottom:30px;padding-top:30px;}.mrg5{margin:5px}.mrg10{margin:10px}.mrg15{margin:15px}.mrg20{margin:20px}.mrg30{margin:30px}.mrg40{margin:40px}.mrg50{margin:50px}.mrg60{margin:60px}.mrg70{margin:70px}.mrg80{margin:80px}.mrg90{margin:90px}.mrg100{margin:100px}.mrg-t5{margin-top:5px}.mrg-b5{margin-bottom:5px}.mrg-l5{margin-left:5px}.mrg-r5{margin-right:5px}.mrg-t10{margin-top:10px}.mrg-b10{margin-bottom:10px}.mrg-l10{margin-left:10px}.mrg-r10{margin-right:10px}.mrg-t15{margin-top:15px}.mrg-b15{margin-bottom:15px}.mrg-l15{margin-left:15px}.mrg-r15{margin-right:15px}.mrg-t20{margin-top:20px}.mrg-b20{margin-bottom:20px}.mrg-l20{margin-left:20px}.mrg-r20{margin-right:20px}.mrg-t25{margin-top:25px}.mrg-b25{margin-bottom:25px}.mrg-l25{margin-left:25px}.mrg-r20{margin-right:20px}.mrg-t30{margin-top:30px}.mrg-b30{margin-bottom:30px}.mrg-l30{margin-left:30px}.mrg-r30{margin-right:30px}.mrg-t40{margin-top:40px}.mrg-b40{margin-bottom:40px}.mrg-l40{margin-left:40px}.mrg-r40{margin-right:40px}.mrg-t50{margin-top:50px}.mrg-b50{margin-bottom:50px}.mrg-t60{margin-top:60px}.mrg-b60{margin-bottom:60px}.mrg-t70{margin-top:70px}.mrg-b70{margin-bottom:70px}.mrg-t80{margin-top:80px}.mrg-b80{margin-bottom:80px}.mrg-t90{margin-top:90px}.mrg-b90{margin-bottom:90px}.mrg-t100{margin-top:100px}.mrg-b100{margin-bottom:100px}.font10{font-size:10px}.font11{font-size:11px}.font12{font-size:12px}.font13{font-size:13px}.font14{font-size:14px}.font15{font-size:15px}.font16{font-size:16px}.font17{font-size:17px}.font18{font-size:18px}.font19{font-size:19px}.font20{font-size:20px}.font21{font-size:21px}.font22{font-size:22px}.font23{font-size:23px}.font24{font-size:24px}.font25{font-size:25px}.font26{font-size:26px}.font27{font-size:27px}.font28{font-size:28px}.font29{font-size:29px}.font30{font-size:30px}.font31{font-size:31px}.font32{font-size:32px}.font33{font-size:33px}.font34{font-size:34px}.font35{font-size:35px}.font36{font-size:36px}.font37{font-size:37px}.font38{font-size:38px}.font39{font-size:39px}.font40{font-size:40px}.bg-white{background-color:#fff}.bg-black{background-color:#000}.bg-grey{background-color:#f4f4f4}.white-color{color:#fff}.black-color{color:#000}.pink-color{color:#ff198d;}.blue-color{color:#3e87ed}.yellow-color{color:#dfdf00}.red-color{color:#e61515}.grey-color{color:#9d9d9d}.pull-left{float:left;}.pull-right{float:right;}.container{max-width:1200px;} .btn.focus, .btn:focus{outline:0;box-shadow:none;}
/*global css end*/

.outer{overflow:hidden;}
.header{position:absolute;left:0;right:0;top:0;z-index:1;padding:22px 0;}
.top-search-bar{display:inline-block;width:458px;position:relative;}
.top-search-bar .form-control{background:rgba(64,53,101,0.4);border-color:rgba(255,255,255,0.2);border-radius:4px;color:#fff;padding-left:24px;padding-right:40px;}

.top-search-bar .form-control::placeholder{color:#fff;}
.search-btn{position:absolute;right:8px;top:7px;background:#4fa9ff;border:0;width:30px;line-height:30px;height:30px;border-radius:50%;color:#fff;cursor:pointer;}
.search-btn:hover{background:#000;}
.top-btn a{background:#4fa9ff;border-radius:4px;/*border:1px solid #fff;*/min-width:107px;text-align:center;display:inline-block;color:#fff;text-transform:uppercase;font-weight:600;font-size:15px;padding:10px 2px 9px;margin-left:3px;}
.top-btn a:hover{background:#000;border-color:#000;}
.top-menu{position:relative;padding-right:0px;padding:23px 0 0 0;margin-top:20px;border-top:1px solid #fff;}
.menu{position:relative;z-index:9;}
.menu ul{list-style:none;}
.menu ul li{float:left;position:relative;width:auto;margin:0;padding-right:5px; padding-bottom:20px;text-transform:uppercase;font-size:15px;}
.menu ul li:last-child{padding-right:0px;}
.menu ul li a{display:inline-block;width:auto;position:relative;color:#fff;}
.menu ul li a:hover{color:#000;}
.menu ul li:hover a{color:#4fa9ff;text-decoration:none;}
.menu > ul > li:hover::before{border-top:6px solid #4fa9ff;position:absolute;left:0;top:-26px;content:'';width:100%;}
.iphones p::first-letter{text-transform:lowercase !important}
.menu ul li p{display:inline-block; padding:0px; margin:0px;}
.menu ul li.active a{color:#4fa9ff;text-decoration:none;}
.menu ul li.active::before{border-top:6px solid #4fa9ff;position:absolute;left:0;top:-26px;content:'';width:100%;}
.menu ul li i{padding-right:3px;}
.body-overlay{display:none !important}
/*==========================Desktop dropdown menu start here===========================*/

.menu ul ul {
	background: #4fa9ff;
	border: medium none;
	display: none;
	float: none;
	left: 0;
	margin: -18px 0 0 0;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 200px;
	z-index: 999999;
	box-shadow: 0px 4px 10px 0px rgb(0,0,0,0.4);
	border-top: 0;
	border-radius: 4px;
	 overflow:visible;
}



/*.menu ul ul::before {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	left: 20px;
	content: '';
	border-bottom: 8px solid #fff;
	top: -6px;
}
*/


.menu ul ul li {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
border: medium none;display: block;float: none;margin: 0;padding: 0;position: relative;text-shadow: none;text-transform: none;}
.menu ul ul li a {border-bottom: 1px solid #84c3ff;color: #fff;display: block;font-size: 13px;line-height: normal;margin: 0;padding:8px ;text-shadow: none; color:#fff;}
.menu ul ul li:last-child a{border-bottom:0;}
.menu ul li:hover > ul > li > a {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);color: #000;text-decoration: none;}
.menu ul li:hover ul li a {color: #fff;text-decoration: none;}
.menu ul ul li a:hover, .menu ul ul li.active > a {background: #f4f4f4 !important; color: #333 !important;}
.menu ul li:hover ul {display: block;}
.menu ul ul ul {display: none !important;left: 0;margin: 0 0 0 200px;position: absolute;top: 0;}
.menu ul ul li:hover > ul {display: block !important;}



/*==========================Desktop dropdown menu End here===========================*/
.mainbanner{background:url(../img/banner-bg.jpg) no-repeat top center;background-size:cover;position:relative;padding:13em 0 2em;}
.banner-content1{font-size:3.875em;font-weight:600;color:#4fa9ff;letter-spacing:0;text-shadow:1px 3px 3px rgba(0,0,0,0.4);}
.banner-content2{font-size:5.500em;font-weight:800;color:#fff;letter-spacing:0;text-shadow:1px 3px 3px rgba(0,0,0,0.4);line-height:70px;margin-bottom:42px;}
.bannertag-point{border-top:5px solid #fff;border-bottom:5px solid #fff;padding:10px 0;color:#fff;font-size:1.313em;width:calc(100% - 146px);display:inline-block;}
.bannertag-point li{padding-right:35px;list-style-type:disc;list-style-position:inside;float:left; white-space:nowrap;}
.bannertag-point li a{color:#fff;}
.main-bannertext{max-width:700px;padding-left:50px;}
.search-bar{background:#fff;padding:25px;box-shadow:0px 1px 15px 12px rgba(0,0,0,0.2);border-radius:8px;margin-bottom:25px;margin-top:-38px;z-index:0;position:relative;}
.search-col label{font-size:14px;text-transform:uppercase;font-weight:600;padding:0;margin-bottom:6px;}
.search-col .form-control{background-color:#f5f5f5 !important;border-color:#e0e0e0 !important}
.search-filter{padding-right:100px;position:relative;}
.search-filter-btn{position:absolute;right:0;top:30px;}
.addon-block{margin-top:50px;}
.addon-strip{border:2px solid #e1e2e6;padding:20px 18px 15px;width:78.5%;}
.addon-group i{float:left;}
.addon-info{width:calc(100% - 60px);float:left;padding-left:13px;}
.addon-info p{font-size:13px;margin:0;padding:0;line-height:normal;color:#8d8d8b;}
.addon-info span{font-size:1.125em;color:#433f3c;text-transform:uppercase;}
.sell-product-btn{width:20%;}
.sell-product-btn a{background:#4fa9ff;font-size:1.875em;font-weight:300;color:#fff; line-height: 100%;width:100%;text-align:center;height:100%;display:-webkit-flex;display:flex;justify-content:center;align-items:center; padding:10px;}
.sell-product-btn a:hover{background:#000;}
.white-shad-box{background:#fff;box-shadow:0px 0px 20px 3px rgba(231,237,249,0.7);}
.devies-box{padding:40px 0;height:100%;}
.devies-box i{display:block;padding-bottom:30px;}
.devies-box p{font-size:1.125em;font-weight:600;}
.devies-box p a:hover{color:#4fa9ff;}
.three-devies-boxes{margin-top:25px;}
.pagination-arrow{position:absolute;top:-88px;width:100%;}
.pagination-arrow-left-arrow{position:absolute;left:0;}
.pagination-arrow-right-arrow{position:absolute;right:0;}
.product-content{padding:0 150px;}
.product-listing{position:relative;margin-top:15px;}
.listing-box{background:#fff;border:1px solid #e2e2e2;border-radius:10px;height:100%;padding-bottom:20px; position:relative;}
.listing-phone-box{background:#eeeeee;min-height:249px;text-align:center;padding:15px 10px 30px;}
.listing-phone-box img{ height:210px; object-fit: cover;}
.listing-product-col{margin-bottom:10px;}
.view-detail-btn{text-align:center;margin-top:-22px;}
.view-detail-btn a{padding-left:2.2em;padding-right:2.2em;}
.product-details{padding:20px 10px 0;}
.product-details h2{font-size:1.313em;padding:8px 0;}
/*.product-price{font-size:1.875em;color:#ff0000;font-weight:700;}
.product-price span{color:#23334c;}*/
.product-price{font-size:1.875em;color:#333333;font-weight:700;}
.product-price span{color:#333;}
.product-details p{padding:0 0 8px 0;}
.chooseus-section{border-top:1px solid #e1e2e6;}
.footer-inner{background:url(../img/footer-img.jpg) no-repeat top center;background-size:cover;width:100%;}
.footer-col h2{font-size:1.938em;color:#fff;margin-bottom:16px;}
.footer-logo{margin-bottom:18px;}
.footer-col , .footer-col a{color:#fff;font-weight:300;}
.footer-col a:hover{color:#4fa9ff;}
.footer .container{max-width:1440px;}
.about-company{max-width:350px;}
.explore-website{max-width:480px;}
.explore-website ul li{color:#fff;font-size:1.125em;width:50%;float:left;padding:0 0 7px 0;}
.explore-website ul li a{color:#fff;position:relative;padding-left:18px;}
.explore-website ul li a::before{font-family:'Font Awesome 5 Free';color:#4fa9ff;content:'\f0da';position:absolute;left:0;top:-3px;font-weight:900;}
.explore-website ul li a:hover{color:#4fa9ff;}
.contact-us{font-size:1.125em;}
.contact-us span{padding-left:20px;display:inline-block;vertical-align:top;width:calc(100% - 20px)}
.contact-us i{color:#4fa9ff;text-align:center;width:16px;}
.mail{padding:15px 0;}
.copyright-block{background:#1a1c27;text-align:center;color:#fff;}
.copyright-block p{padding:40px 0;}
.ads-banner{background:#4fa9ff;width:54%;float:none;padding:20px;position:relative;padding-bottom:34px;}
.ads-banner::after{background:#fff;width:8px;height:calc(100% + 4px);transform:rotate(8deg);position:absolute;right:-17px;top:-2px;content:'';}
.ads-banner-block{overflow:hidden;}
.ads-banner::before{background:#4fa9ff;width:31px;height:100%;transform:rotate(9deg);position:absolute;right:-11px;top:-4px;content:'';}
.ads-banner h2{color:#fff;text-transform:uppercase;margin:0;padding:0 0 8px 0;}
.ads-banner p{color:#fff;padding:0 0 14px 0;margin:0;font-size:0.938em;line-height:20px;position:relative;z-index:1;}
.ads-product img{width:100%;height:100%;}
.page-item.active .page-link{background-color:#4fa9ff;border-color:#4fa9ff;}
.page-link{color:#166cbe;border:1px solid #4fa9ff;}

/*===========================Bottom to top==========================*/
.cd-top{display:inline-block;height:60px;width:62px;position:fixed;bottom:93px;right:10px;overflow:hidden;text-indent:100%;white-space:nowrap;background: url(../img/cd-top-arrow.png) no-repeat center 50%;visibility:hidden;opacity:0;z-index:9999}
.cd-top.cd-is-visible,.cd-top.cd-fade-out,.no-touch .cd-top:hover{}
.cd-top.cd-is-visible{visibility:visible;opacity:1}
.cd-top.cd-fade-out{opacity:1}
.no-touch .cd-top:hover{background-color:#e86256;opacity:1}



/*Registe page*/
.inside-page .header{ position:relative; background:url(../img/banner-bg.jpg) no-repeat top left; background-size:cover}
.inside-page .outer {
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	min-height: 100%;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.middle-wrapper {
	padding-bottom: 4em;
	width: 100%;
	-webkit-flex: auto;
	flex: auto;
}

html, body {
    height: 100%;
}

.linerbg{ background:url(../img/liner-background.jpg) no-repeat top center; width:100%; height:auto; background-size:cover; }
.icon{ margin-bottom:15px;}
.form-block{ max-width:530px; width:100%; margin:25px auto; padding:35px; background: #fff;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
	border-radius: 10px;}

.register-page .search-col{ margin-bottom:1.875em;}
.register-page .search-col label{ font-size:1.000em;}
.register-btn a{ padding-left:24px; padding-right:24px;}
.already-registered{ font-weight:600; margin:10px 0 0  0; font-size:0.938em}
.already-registered a { text-decoration:underline;}
.inside-page .footer-inner{ background-image: none; background:#222533;}

.chk input[type="checkbox"]{display:none}
.chk input[type="checkbox"] + label{font-weight:400;line-height:25px;margin:0;min-height:25px;min-width:30px;padding:0px 0 0 34px;background:url(../img/chk.png) no-repeat left top; cursor:pointer;}
.chk input[type="checkbox"]:checked + label{background-image:url(../img/chk-a.png)}
.login-box .chk input[type="checkbox"] + label {color:#fff;}

.login-page .already-registered{ margin-top:0;}

/*Product Listing Box*/
.shad{box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);}
.product-category-box {

	border-radius: 10px;
	padding: 30px 20px 20px;
}

.product-category-box h2 {
	font-size: 17px;
	color: #000000;
	padding: 0 0 12px 0;
	margin: 0;
}

.filter-category-box {
	background: #f6f6f6;
	padding: 20px 20px;
	font-size: 15px;
	color: #211c42; border-radius:4px;
}



.chk-custom .chk input[type="checkbox"] + label{line-height:17px;margin:0;min-height:17px;min-width:20px;padding:0px 22px 0 0px;background:url(../img/chk_small.png) no-repeat right top;  width:100%;}
.chk-custom .chk input[type="checkbox"]:checked + label{background-image:url(../img/chk_small-a.png); color:#4fa9ff;}
.chk-custom .chk input[type="checkbox"] + label {color:#211c42;}

.chk-custom .chk {
	margin-bottom: 10px;
}

.filter-btn{ margin-top:10px;}
.gray-selectbox .form-control{ background-color:#f6f6f6; border-color:#f6f6f6; color:#211c42;}
.items-found{ font-size:1.188em; font-weight:600;}
.sortby{ width:254px;}
.listing-box{ overflow:hidden;}
.listing-phone-box{ min-height:inherit; }
.product-showcase .listing-phone-box {padding: 8px 10px 30px;}
.product-showcase .listing-phone-box img {
	height: 150px;
}

.product-showcase .view-detail-btn a {
	padding-left: 1.8em;
	padding-right: 1.8em;
}
.product-showcase .btn {
font-size: 12px;
padding-top: 8px; padding-bottom:8px;

}

.product-showcase .star-rating img {
	width: 62px;
}
.product-showcase .product-details {
	padding: 7px 10px 0;
}

.product-showcase .product-details h2 {
	font-size: 17px;
}
.product-showcase .product-details p {
	 font-size:12px; line-height:normal;
}
.product-showcase .product-price{ font-size:1.500em}
.grid-listview-box a {
	font-size:1.375em;
	background: #f6f6f6;
	padding: 0px 10px;
	border: 1px solid #e6e6e6;
	color: #898989;
	height: 44px;
	display: inline-block;
	line-height: asas;
	display: flex;
	align-items: center;
}
.grid-listview-box a:hover ,.grid-listview-box a.active{ background:#4fa9ff; color:#fff; border-color:#4fa9ff;}
.grid-listview-box, .grid-icon{ margin-right:10px;}

.list-view-product .listing-product-col{-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;}

.list-view-product .product-details{text-align: left !important; padding: 7px 175px 0 25px; width:100%; display: flex; flex-direction: column !important;}
.list-view-product .star-rating {order: 3;}

.list-view-product .listing-box {display: flex; padding-bottom:0; position: relative;}

.list-view-product .listing-phone-box {width: 100%;	padding: 15px;	max-width: 230px;	justify-content: center; align-items: center;}
.list-view-product .listing-box .view-detail-btn {	margin: 0;position: absolute;right: 0;top: 50%;transform: translateY(-50%);background: #f6f6f6;height: 100%;align-items: center;display: flex;padding: 0 15px;}
.list-view-product .product-price {position: absolute;right: 0;display: flex;padding: 0 19px 0 0;width: 150px;top: 19%;}

.list-view-product .product-price,
.list-view-product .view-detail-btn{ width:170px; justify-content: center;}
.list-view-product .listing-box .view-detail-btn .btn {
	margin-top: 12px;
}

.product-detail {
	padding-left: 35px;
}
.product-detail-rating{ padding-left:15px;}
.product-detail .heading h2 {
	font-size: 1.500em;
	padding: 0;
	margin: 0 0 13px 0;
}

.product-features {
	border-top: 1px solid #eeeeee;

}

.product-features ul{ padding-bottom:40px;}
.product-features ul li { padding-top:18px; display: flex; }
.product-features ul li strong {font-weight:700; min-width:230px; padding-right:5px;}
.seller-btn .btn{padding:14px 2.8em;}
.thumbnail-slider .carousel-inner {
	border:22px solid #fff;
	border-radius: 10px;
	margin-bottom: 45px;
}
#myCarousel .list-inline {
    white-space:nowrap;

}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: auto;
    height: auto;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}
.thumbnail-slider .carousel-indicators li img {
	border: 2px solid #000;
	border-radius: 4px;
	padding: 5px;
}

.thumbnail-slider .carousel-inner .img-fluid{ width:100%;}



.video-btn i {
	font-size: 1.250em;
	padding-right: 7px;
	padding-top: 0px;
	position: relative;
	top: 2px;
}
.black-btn{ background:#23334c; color:#fff;}
.black-btn:hover{ background:#4fa9ff;}
.seller-btn{ margin-bottom:15px;}

.user_area {
	color: #fff;
	font-weight: 700;
	text-align: right;
	padding: 0 0 0 7px;
	line-height: 19px;
	width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;

}
.user_area i { font-style:normal;}
.user_area span { font-weight:400; }
.my-product-col ul li { font-weight:600;align-items: center;display: flex; padding:0 0 20px 0; border-bottom:1px solid #e3e3e3; padding-top:20px;}
.my-product-col ul li:first-child{ padding-top:0px;}
.my-product-col ul li:last-child{border-bottom:0;}
.my-product-col ul li i {
	width: 22px;
	text-align: center;
	margin-right: 8px;
	display: inline-block;
	position: relative;
    top: -3px;
}

.product-message {
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 0.938em;
	padding-top: 8px;
	padding-bottom: 3px;
}

.product-message i { }
.unread-message{color:#ff2000;}
.my-product-lists .product-details h2 {
	padding-top: 4px;
}

.my-product-lists .listing-box{ padding-bottom:0px;}
.product-btn-block{align-items: center;display: flex; margin-top:15px; }
.product-group-btn{ width:50%; border-right:1px solid #594d81; text-align:center;}
.product-group-btn:last-child{border-right:0;}
.product-group-btn a {
	background: #3e3362;
	width: 100%;
	display: inline-block; padding:16px 4px; color:#fff; font-weight:600; text-transform:uppercase; font-size:0.875em
}
.product-group-btn a:hover{ background:#4fa9ff;}

.title-heading {
	flex-wrap: wrap;
	margin-bottom: 20px;
	align-items: center;
}
.pagination .page-item.active .page-link{ z-index:0;}
.message-block {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
}
.message-username{color:#333333; font-size:14px; font-weight:600; padding:0 0 5px 0;}
.message-box {
	background-color: #efeeee;
	border-radius: 10px;
	border: 1px solid #dddddd;
	padding: 12px;
	max-width: 350px;
	font-size: 14px;
	font-weight: 400;
}
.message-box, .message-box p {
	font-size: 13px;
	line-height: 18px;
	color: #000;
}
.message-box p { line-height:normal; padding:0; margin:0; }

.message-profile-pic img {
	border-radius: 50%;
	width: 70px;
	border: 1px solid #d3d3d3;
}
.message-box-area {
	display: flex; margin-bottom:20px;
}

.message-profile-pic {
	padding-right: 15px; padding-top: 5px;
}


.message-sender {
	flex-direction: row-reverse !important;
}
.message-sender .message-profile-pic {
	padding-left: 15px; padding-right:0px;
}


.message-date-time {
	color: #666;
	font-size: 11px;
	padding: 7px 0px 7px 0;
}

.message-sender .message-username, .message-sender .message-date-time {
	color: #4fa9ff;
	justify-content: end;
	display: flex;
}
.message-sender .message-box {
	background-color: #e3f1ff;
	border: 1px solid #b2d8fd;
	text-align: right;
}


.chat-reply-box{ background:#fff; padding:30px; border:1px solid #efeeee;}
.chat-reply-box .form-control{ background-color:#f6f6f6;}
.content {
	margin: 0;
	width: 100%;
	height: 540px;
	padding: 20px;
	overflow: auto;
	background: #f6f6f6;
	border-radius: 3px 3px 0 0;
}
.mCSB_container{width:auto;	margin-right:30px;overflow:hidden;}
.mCSB_container.mCS_no_scrollbar{margin-right:0;}
.mCustomScrollBox>.mCSB_scrollTools{width:16px; height:100%; top:0;	right:0;}
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute; top:0; left:0;bottom:0; right:0; height:auto;}
.mCSB_scrollTools a+.mCSB_draggerContainer{margin:20px 0;}
.mCSB_scrollTools .mCSB_draggerRail{width:2px; height:100%; margin:0 auto; -webkit-border-radius:10px; 	-moz-border-radius:10px; border-radius:10px;}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer; width:100%; height:30px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:4px; height:100%; margin:0 auto; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; text-align:center;}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{display:block; position:relative; height:20px; overflow:hidden;margin:0 auto; cursor:pointer;}
.mCSB_scrollTools .mCSB_buttonDown{top:100%;margin-top:-40px;}

/* default scrollbar colors and backgrounds (default theme) */

.mCSB_scrollTools .mCSB_draggerRail{
	background:#000; /* rgba fallback */
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#fff; /* rgba fallback */
	background:rgba(255,255,255,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	background-image:url(../img/mCSB_buttons.png);
	background-repeat:no-repeat;
	opacity:0.4;
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{background-position:-96px 0;}
.mCSB_scrollTools .mCSB_buttonDown{background-position:-96px -20px;}
.message-tbl{ margin-bottom:30px;}
.message-tbl {border:1px solid #b2d8fd; font-size:13px; border-left:0;}
.message-tbl th{ background:#4fa9ff; font-weight:700; color:#fff; padding:10px; border-left:1px solid #b2d8fd; text-transform:uppercase; vertical-align:top;}
.message-tbl td { padding:8px 10px; border-left:1px solid #b2d8fd; border-bottom:1px solid #b2d8fd; vertical-align:top;}
.message-countbox {
	background: #ff2000;
	border: 1px solid #df0404;
	width: 26px;
	height: 26px;
	line-height: 24px;
	color: #fff;
	border-radius: 100%;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	position: absolute;
	right: -9px;
	top: -5px;
}

.action-btn {
	position: relative;
	text-align: center;
}
.action-btn  a { padding-top:6px; padding-bottom:6px; font-size:12px;}

.rad-group .radio-custom {
	display: inline-block;
	float: left;
	padding-right: 0px;
	margin-bottom: 4px;
	width: 100%;

	background: #fff;
	border-radius: 0;
	background: #4fa9ff;
	color: #fff;
	 text-transform:uppercase;height:100%
}
.rad-group .radio-custom input[type="radio"] + label{color:#fff; font-weight:700; }

.rad-group .radio-custom input[type="radio"]{display:none;}
.rad-group .radio-custom input[type="radio"] + label {
	background:none;
	margin: 0;
	padding: 14px 0;
	width: 100%;
	font-size: 14px; cursor:pointer; text-align:center; border: 1px solid #4fa9ff; height:100%
}
.rad-group .radio-custom input[type="radio"]:checked + label{background:#606a76; color:#fff; border-color:#606a76;  }
.breaktxt{ display:block; font-weight:400; text-transform:lowercase; height:100%}
.popup-col {
	width: 50%; border:2px solid #fff;
}
.rad-group {
	display: flex;
	position: relative;
}
.poupheading{ font-size:1.125em; text-align:center; padding:0 0 10px 0; margin:0; font-weight:700; text-transform:uppercase;}
.or-popup {
	background: #363636;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 20px;
	border-radius: 100%;
	right: 0;
	border: 2px solid #fff;
	font-size: 12px;
	text-align: center;
	margin: auto;
}

.contact-page{background: #f7f8f9;}
.contact-form{background:#fff; box-shadow:0px 1px 4px 0px rgba(0,0,0,0.1); padding:20px; height: 100%;}
.sub-title {
	border-bottom: 1px solid #4fa9ff;
	padding: 0 0 10px 0;
	margin-bottom: 20px;
	font-weight: 700;
	color: #4fa9ff;
}

.contact-country{ display:inline-block; width:100%; padding-bottom:4px; font-weight:700; color:#424151;}

.social-icons i {
	margin: 10px 8px 0 0;
	width: 38px;
	height: 38px;
	line-height: 37px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
}
.fa-facebook-f {
	background-color: #3b5999;
}
.fa-twitter {
	background-color: #00abf1;
}

.fa-linkedin-in {
	background-color: #007bb6;
}
.fa-google-plus-g {
	background-color: #e12f2f;
}

.fa-youtube {
	background-color: #cf2200;
}
.contact-col{ margin-bottom:30px;}




.static-page p {
	margin-top: 0px;
	margin-bottom: 22px;
	padding: 0;
}

.static-page h3 {

	margin-bottom: 12px; margin-top:15px;
	padding: 0;
	display: inline-block;
	width: 100%;
}

.static-page ol, .static-page ul {
	margin: 1em 0;
	padding: 0 0 0 1em;
	list-style-position: inside;
}

.static-page ol li, .static-page ul li {
	margin-top: .5em;
	margin-bottom: .5em; list-style-type:disc
}
.logo {
    max-width: 185px;
}

/*======02-09-2019======*/
.top-menu .menu ul li ul.dropdown-menu{left: 0px!important; right: auto!important;}
.top-menu .menu ul li:last-child ul li ul.dropdown-menu {right: 100%!important; left: inherit!important;}
.home-product .product-price {position: absolute;  bottom:5px;  left: 15px;  text-align: center; border-top: 1px solid #eee; right: 15px; line-height: 50px;}
.home-product .listing-box {padding-bottom: 65px;  position: relative;}
.home-product .product-details {padding-bottom: 3px;}
.chk-list{border: 1px solid #e7e5e5; background: #efefef; padding: 8px 5px 0px; border-radius: 5px; margin: 5px 0 0;}
.register-page .nav-tabs {border: 0;}
.register-page .nav-tabs .nav-link{border: 0; font-size: inherit; width: 50%; border-radius: 0;}
.register-page .nav-tabs .nav-link:focus,
.register-page .nav-tabs .nav-link.active {border-bottom: 1px solid #473b6d; color: #313131; font-weight: 600;}
.register-page .nav-tabs .nav-item + .nav-item{padding-left: 10px;}
.bg-blue{background: #3c66c4;}
.register-page .nav-tabs{margin-bottom: 0;}
.register-page .nav-tabs  .nav-item{width: 50%;}
.register-page .nav-tabs .nav-link{border: 1px transparent; padding: 10px 5px; width: 100%; text-align: center; color: #473b6d;}
.bg-red{background: #cf4332;}
.register-page .social-links li{flex: 0 0 50%; margin-bottom: 15px; padding: 0 5px;}
.register-page .social-links li a{color: #fff; text-align: center; font-size: 15px; position: relative; padding: 15px 15px 15px 45px; display: block; transition: .5s ease; }
.register-page .social-links li a:hover{background: #313131;}
.register-page .social-links li a i{position: absolute; left: 12px; transform: translateY(-50%); top: 50%; color: #fff; transition: .5s ease; font-size: 21px; background: transparent;}
.register-page .social-links{position: relative; border-top: 1px solid #f0f0f0; padding-top: 45px; margin-top: 35px;}
.register-page .social-links .opt-text{position: absolute; left: 50%; transform: translateX(-50%); top: -24px; background: #fff; font-size: 15px; border-radius: 50%; border: 1px solid #ddd; padding: 10px 11px; text-transform: uppercase; color: #686666;}
.register-page {padding-bottom: 0!important; padding-top: 25px !important;}
.login-page .already-registered {font-size: 13px;}



.page-head-text{position: relative; margin-top: 40px;}
.page-head-text h1{padding-bottom: 15px;}
.page-head-text .btn{position: absolute; right: 0; top: 10px;}
.mobile-sell-partners{margin: 40px 0 0;}
.mobile-sell-partners ul{margin-left: -5px; margin-right: -5px;}
.mobile-sell-partners ul li{display: inline-block; width: calc(20% - 4px); padding: 0 5px;}
.mobile-sell-partners ul li a {display: block;background: #ffffff;border-radius: 5px;border: solid 1px #e2e2e2;padding: 10px 20px;}
.mobile-sell-partners ul li a:hover{background: #f5f5f5;}
.pro-custom-col{flex:0 0 20%; max-width: 20%; padding-left: 10px; padding-right: 10px;}
.phones-list .listing-phone-box img{ height: 150px;}
.phones-list .row{margin-left: -10px; margin-right: -10px;}
.phones-list .listing-box {position: relative;margin-top: 40px;display: block;height: auto;}
.phones-list .listing-box:hover{box-shadow: 0 0 6px 0px #d2d2d2; -webkit-box-shadow: 0 0 6px 0px #d2d2d2; -moz-box-shadow: 0 0 6px 0px #d2d2d2;}
.pnnlogo{position: absolute;top: 5px;left: 17px;font-size: 29px;}
.bottom-info-text{background: #f2f2f2;padding: 20px 15px 10px 15px;margin-top: 50px;}
.bottom-info-text .h2{display: block;}
.height-auto{min-height: auto !important;}
/*-----03-03-2020-----*/
.mainbanner .d-block, .mainbanner .d-block h2, .mainbanner .d-block h3{color: #fff;}
.mainbanner .d-block h2{display: block;}
.mainbanner .d-block h3{font-weight: 300;}
.search-mrg{margin: 30px 0;}
.top-btn{margin-left: 4px;}
.btn-cat{
	background-color: #4fa9ff;
	border-radius: 0 4px 4px 0;
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	padding: 10px 5px 10px 165px;
	margin: 0 0 30px 10px;
	text-transform: uppercase;
	display: block;
}
.btn-cat.buy-divice{background-color: #e4637a}
.btn-cat.trade-in{background-color: #d9cd5d}
.btn-cat.sell-divice{background-color: #8fda5d}
.btn-cat i{margin-left: 10px;}
.btn-cat:hover{color: #fff; background-color: #000; text-indent: 5px;}
.divice-img{margin-bottom: -100px;}
.divice-sec{
	border-bottom: 1px solid #fff;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.banner-ads{margin:-30px 0 50px 0;}
